<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="index.html">Shaun Roselt</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="index.html#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
        <li><a class="nav-link scrollto" href="index.html#work-experience">Work Experience</a></li>
        <li class="dropdown"><a href="index.html#work"><span>Portfolio</span> <i class="bi bi-chevron-down"></i></a>
          <ul data-portfolio-menu>
            <li><a href="apps.html">Apps</a></li>
            <li><a href="websites.html">Websites</a></li>
            <li><a href="games.html">Games</a></li>
            <li><a href="libraries.html">Libraries</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
      </ul>
      <button type="button" class="mobile-nav-toggle" aria-label="Toggle navigation" aria-controls="navbar"
        aria-expanded="false">
        <i class="bi bi-list" aria-hidden="true"></i>
      </button>
    </nav>
  </div>
</header>